<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landbuyer 2025</title>
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
   <.live_title><%= assigns[:page_title] || "Landbuyer" %></.live_title>
    <%= Phoenix.HTML.raw(@inner_content) %>
  </head>
  <body class="min-h-screen bg-slate-100">
    <.dashboard_header />
    <main role="main" class="p-4">
      <%= @inner_content %>
    </main>
  </body>
</html>
